<!doctype HTML>
<html>

<head>
    <title>Nearby Seattle Pokemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <!-- The discord.io client file -->
        <script src="index.js"></script>
        <!--font awesome -->
        <script src="https://use.fontawesome.com/b45c3c60e3.js"></script>

        <!-- vue -->
        <script src="https://unpkg.com/vue"></script>

        <style>
            .pokemon {
                margin: 1em;
                border-bottom: 1pt solid gray;
                padding: 1em;
                min-height: 100px;
            }
        </style>

</head>

<body style='background:lightgray;'>
    <div class='container' style='background:white;min-height:100vh'>
        <div class="page-header">
            <h1>Nearby Pokemon <small id='status-text'>Loading GPS...</small></h1>
        </div>


        <div id="app">
            <p>This is powered by the incredibly generous people at SeattlePokeMaps. They do an amazing job and make this possible.
                This simply aggregates the results and displays what's near to you and hides the ones that have already fled.
                Your current accuracy: {{Math.round(accuracy)}}</p>
            <div class="media pokemon" v-for="pokemon in pokemons">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" :src=pokemon.pic_url width="60" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <a class='pull-right btn btn-success btn-lg' :class='{"btn-danger": pokemon.time_to_catch < 5*60}' :href=pokemon.href>Go!</a>
                    <h4 class="media-heading">{{pokemon.name}} <small>about {{pokemon.distance}} </small></h4>
                    <p>{{pokemon.desc}}</p>
                    <p>Leaves at {{pokemon.leave_time}}. We estimate it's about {{pokemon.travel_time}} away.
                        <span v-if="pokemon.time_to_catch < 0">You will probably not make it in time</span>
                        <span v-else> You'll have about {{Math.round(pokemon.time_to_catch/60)}}   minutes to catch it. </span>                        {{pokemon.message}}
                    </p>

                </div>
            </div>
            <div v-if="pokemons.length == 0" class='text-center'>
                <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                <h2>Loading</h2>
            </div>
        </div>
    </div>
    <script>
        /**
     * Pokefinder by Matthew Carlson
     * This is very much still a hack
     * Yes it does include a token for a test throw away account. Please be responsible and don't abuse it.
     * Todo items:
     *  Integrate with new messages coming from the server
     *  Update count downs
     *  Refresh geolocation data every few minutes and change lists
     *  Integrate google maps for more accurate estimation of time? Without overdoing my requests per second?
     * 
     * Feel free to open up issues on github.com
     * */
        var clientReady = false;
        var gpsReady = false;
        var gpsChanged = false;
        var pokemonDeferedProcessing = [];
        var coord = null;
        var client = new Discord.Client({
            token: "Mjg3NzkxMjM2MDA0MzE1MTM3.C50a-w.5ncXcE4SX8Cj16xAY4pJWylll50",
            autorun: true
        });

        //connect to discord
        client.connect();

        navigator.geolocation.getCurrentPosition(function (location) {
            if (clientReady == false) $("#status-text").text("Loading Discord Client");
            else if (pokemonDeferedProcessing.length == 0) $("#status-text").text("Loading Pokemon");
            else $("#status-text").text("");
            console.log(location.coords);
            gpsReady = true;
            coord = location.coords;
            app.accuracy = location.coords.accuracy;

            if (pokemonDeferedProcessing.length != 0) {
                updatePokemon();
            }
            navigator.geolocation.watchPosition(updated_position);
        });

        function updated_position(position) {
            console.log("position has changed");
            console.log(position);
            coord = location.coords;
            app.accuracy = location.coords.accuracy;
            gpsChanged = true;
        }

        var app = new Vue({
            el: '#app',
            data: {
                progress: 0,
                accuracy: "N/A",
                pokemons: []
            }
        })



        client.on('ready', function () {
            console.log("%s (%s)... in the browser!", client.username, client.id);
            clientReady = true;
            if (gpsReady == false) $("#status-text").text("Loading GPS");
            else $("#status-text").text("Loading Pokemon");
            updatePokemon();
            console.log(client.channels);
            /*for (var i in client.channels) {
                console.log(client.channels[i].id + " = " + client.channels[i].name);
            }*/
        });

        client.on('message', function (user, userID, channelID, message, event) {
            console.log(user);
            //if it's not the bot, don't bother
            if (user != "harmony") return;
            console.log(channelID);
            //check if this is on the list of approved channels
            if (!$.inArray(channelID, channels_to_fetch)) {
                console.log("Ignoring message from " + channelID + " channel");
            }
            //TODO: process channel id
            console.log(message);
            console.log(event);
        });

        /*
        index.html:143 264632263331807234 = central-seattle
        index.html:143 264632263789117440 = General
        index.html:143 265335143118536707 = south-seattle
        index.html:143 266107119286091777 = chat
        index.html:143 267072007093354496 = total-area-scanned
        index.html:143 267446101261549578 = scan-filter-list
        index.html:143 267727262831476738 = admin-channel
        index.html:143 267760025672351765 = events-page
        index.html:143 268075363890888705 = harmony-support
        index.html:143 268195439675834378 = 100iv
        index.html:143 268678885858607104 = channel-news
        index.html:143 270326510299250689 = faq
        index.html:143 271184253784424448 = donations
        index.html:143 271759700633190401 = announcements
        index.html:143 272151297208352772 = lower-east
        index.html:143 272230046566055936 = huze-heatmap
        index.html:143 273599411425247235 = donor-area
        index.html:143 279148663643570176 = north-seattle
        index.html:143 279486769471422464 = upper-east
        */
        var channels_to_fetch = ["279486769471422464", "264632263331807234", "265335143118536707", "272151297208352772", "279148663643570176"];

        //fetchs all the pokemon from the lists in discord
        function updatePokemon() {
            if (clientReady == false) return;
            // check if there's pokemon we need to process
            if (pokemonDeferedProcessing.length != 0 && gpsReady == true) {
                console.log("Processing " + pokemonDeferedProcessing.length + " defered pokemon");
                for (var i = 0; i < pokemonDeferedProcessing.length; i++) {
                    processPokemon(pokemonDeferedProcessing[i].embeds[0]);

                }
                pokemonDeferedProcessing = [];
            }
            else {
                for (var index = 0; index < channels_to_fetch.length; index++) {
                    // the pokemon from the clients
                    client.getMessages({ channelID: channels_to_fetch[index], limit: 100 }, function gotNewPokemons(error, pokemons) {
                        for (var i = 0; i < pokemons.length; i++) {
                            if (gpsReady)
                                processPokemon(pokemons[i].embeds[0]);
                            else
                                pokemonDeferedProcessing.push(pokemons[i]);
                        }
                    });
                }
            }

            if (gpsReady) $("#status-text").text("");
        }

        //reprocesses the pokemon and figure out how far it is
        function reprocessPokemon() {
            if (!gpsChanged) return;
            for (var i = 0; i < app.pokemons.length; i++) {
                var pokemon = app.pokemons[i];
            }
            gpsChanged = false;
        }
        var directionsService = null;
        //processes a pokemon
        function processPokemon(pokemon) {

            //Figure out when it will disappear
            var time_exp = /\d?\d\:\d\d\:\d\d/;
            var leave_time = pokemon.description.search(time_exp);
            var leave_time = pokemon.description.substring(leave_time, leave_time + 8);
            var curr_time = new Date();
            var leave_time = new Date(curr_time.toDateString() + " " + leave_time);
            var time_left = (leave_time.getTime() - curr_time.getTime()) / 1000; //difference between them in seconds
            //if they've already disappeared
            if (time_left <= 0) {
                console.log("skipping " + pokemon.title + " leaving at " + leave_time.toLocaleTimeString("en-US"));
                return;
            }
            //if there's more than 8 hours on the clock, something is wrong
            if (time_left >= 8 * 60 * 60) {
                console.log("Skipping " + pokemon.title + " because it's from yesterday probably");
                return;
            }

            //calculate distance
            var location = pokemon.url.substring(pokemon.url.indexOf("%40") + 3);
            var lat = location.substring(0, location.indexOf(","));
            var long = location.substring(location.indexOf(',') + 1);
            var raw_dist = distance(coord.latitude, coord.longitude, lat, long);
            var dist = raw_dist.toFixed(2) + " miles";
            if (dist <= 1) {
                raw_dist *= 5280;
                distance = Math.round(raw_dist * 5280) + " ft";
            }

            //get an accurate estimation of how long it will take

            //console.log(pokemon);

            //see if we can get there quickly enough

            var time_to_catch = time_left - Math.round(raw_dist / 25 * 60 * 60);

            //compute new pokemon
            var newpokemon = {
                name: pokemon.title,
                pic_url: pokemon.thumbnail.url,
                raw_dist: raw_dist,
                distance: dist,
                location: { "lat": lat, "long": long },
                desc: pokemon.description.substring(0, pokemon.description.indexOf('Until')),
                leave_time: leave_time.toLocaleTimeString("en-US"),
                href: pokemon.url,
                travel_time: Math.round(raw_dist / 25 * 60) + " minutes",
                time_to_catch: time_to_catch,
            }
            if (directionsService == null) directionsService = new google.maps.DirectionsService;
            directionsService.route({
                origin: lat + "," + long,
                destination: coord.latitude + "," + coord.longitude,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    console.log(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
            //add it to the list
            app.pokemons.push(newpokemon);
            //sort the pokemon based on distance
            app.pokemons.sort(pokemonSorter);
        }

        //Sorts pokemon by distance
        function pokemonSorter(a, b) {
            return a.raw_dist - b.raw_dist;
        }

        //only call this is we have resonable accuracy
        function estimate_time(lat1, lon1, lat2, lon2) {
            //http://maps.googleapis.com/maps/api/directions/outputFormat?parameters
        }

        //:::  Passed to function:                                                    :::
        //:::    lat1, lon1 = Latitude and Longitude of point 1 (in decimal degrees)  :::
        //:::    lat2, lon2 = Latitude and Longitude of point 2 (in decimal degrees)  :::
        //:::    unit = the unit you desire for results                               :::
        //:::           where: 'M' is statute miles (default)                         :::
        //:::                  'K' is kilometers                                      :::
        //:::                  'N' is nautical miles                                  :::
        //:::                                                                         :::
        //:::  Official Web site: http://www.geodatasource.com                        :::
        //:::                                                                         :::
        //:::               GeoDataSource.com (C) All Rights Reserved 2015    
        function distance(lat1, lon1, lat2, lon2, unit) {
            var radlat1 = Math.PI * lat1 / 180
            var radlat2 = Math.PI * lat2 / 180
            var theta = lon1 - lon2
            var radtheta = Math.PI * theta / 180
            var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            dist = Math.acos(dist)
            dist = dist * 180 / Math.PI
            dist = dist * 60 * 1.1515
            if (unit == "K") { dist = dist * 1.609344 }
            if (unit == "N") { dist = dist * 0.8684 }

            return dist;
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlAbMOQfYXIASAEo4ThAIPrA6Vpare09E" async defer></script>
</body>

</html>